<tr>
  <td><%= entry.distance %> <small>Km</small></td>
  <td><%= readable_time_period(entry) %></td>


  <td><%= entry.date_time %></td>
  <td><%= readable_speed(entry) %> </td>
  <td><%= time_ago_in_words(entry.created_at) %></td>
  <td><%= time_ago_in_words(entry.updated_at) %></td>
  <td class="actions-cell">
    <%= link_to "X", entry_path(entry),
          method: :delete,
          data: {
            confirm: "Are you sure you want to permanently delete this entry?"
          },
          class: "btn btn-sm btn-danger"
    %>
  </td>
</tr>
